@media only screen and (max-width: 768px) {
    body {
        font-family: 'Poppins';
        background-image: url('images/bg-intro-mobile.png');
        background-color: hsl(0, 100%, 74%);
    }

    .container {
        text-align: center;
    }

    .side-text {
        color: #fff;
        transform: translate(0, +20%);
        font-size: 18px;
        font-weight: 900;
    }

    .sign-up-form {
        position: relative;
        padding: 15px;
        background-color: #fff;
        width: 82%;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 7px rgb(0, 0, 0, 0.2);
    }

    .form-input {
        font-weight: 600;
        border-radius: 4px;
        margin-top: 15px;
        padding-left: 20px;
        width: 85%;
        height: 40px;
        border: 1px solid rgb(194, 194, 194);
    }

    .btn-sign-up {
        width: 93%;
        height: 40px;
        margin-top: 15px;
        padding-top: 5px;

        color: white;
        font-size: 12px;
        background-color: hsl(154, 59%, 51%);
        border: none;
        border-radius: 4px;
        box-shadow: 0 3px hsl(154, 59%, 40%);
    }

    .free-trial {
        width: 90%;
        margin-top: 25%;
        margin-bottom: 20px;
        font-size: 13px;
        height: 80px;
        color: white;
        background-color: hsl(248, 32%, 49%);
        border: none;
        border-radius: 8px;
        font-weight: 100;
        box-shadow: 0 7px rgb(0, 0, 0, 0.2);
    }

    .free-trial > span {
        font-weight: 800;
    }

    .form-footer {
        margin-top: 12px;
        color: gray;
        font-weight: 400;
        margin-bottom: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
    }

    .form-footer > span {
        color: hsl(0, 100%, 74%);
    }

    .form-footer > span:hover {
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }

    h1 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        font-size: 24px;
        font-weight: 900;
    }

    h5 {
        font-weight: 200;
        font-size: 15px;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-field {
        position: relative;
        display: flex;
        margin-left: 20px;
    }

    .error {
        position: absolute;
        right: 32px;

        color: hsl(0, 100%, 74%);
        font-size: 10px;
        font-weight: 600;
        font-style: italic;

        margin-top: 5px;
        margin-bottom: 20px;
    }

    .error-field {
        font-weight: 600;
        border-radius: 4px;
        margin-top: 15px;
        padding-left: 20px;
        width: 85%;
        height: 40px;        
        border: 2px solid hsl(0, 100%, 74%);
    }

    .error-icon {
        visibility: hidden;
    }

    .visible-error-icon {
        position: absolute;
        top: 27px;
        right: 36px;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-family: 'Poppins';
        background-image: url('images/bg-intro-desktop.png');
        background-color: hsl(0, 100%, 74%);
    }

    .container {
        font-family: 'Poppins';
        margin-left: auto;
        width: 90%;
        text-align: center;
        overflow: hidden;
        transform: translate(0, +15%);
    
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    .sign-up-form {
        position: relative;
        padding: 15px;
        background-color: #fff;
        width: 70%;
        border-radius: 10px;
        margin-top: 0;
        box-shadow: 0 7px rgb(0, 0, 0, 0.2);
        margin-right: 0;
    }
    
    .side-text {
        display: inline-block;
        color: #fff;
        transform: translate(0, +20%);
        font-size: 24px;
        text-align: left;
        font-weight: 900;
        margin-right: 60px;
    }
    
    h5 {
        margin-top: 10px;
        font-weight: 100;
        font-size: 13px;
    }
    
    
    .form-input {
        font-weight: 700;
        border-radius: 4px;
        margin-top: 15px;
        padding-left: 20px;
        width: 85%;
        height: 40px;
        border: 1px solid rgb(194, 194, 194);
    }
    
    
    .btn-sign-up {
        width: 92%;
        height: 40px;
        margin-top: 15px;
        padding-top: 5px;
    
        color: white;
        font-size: 12px;
        background-color: hsl(154, 59%, 51%);
        border: none;
        border-radius: 4px;
        box-shadow: 0 3px hsl(154, 59%, 40%);
    }
    
    .free-trial {
        width: 76%;
        transform: translate(-16%, 0);
        margin-bottom: 20px;
        height: 50px;
        color: white;
        background-color: hsl(248, 32%, 49%);
        border: none;
        border-radius: 8px;
        font-weight: 100;
        box-shadow: 0 7px rgb(0, 0, 0, 0.2);
    }
    
    .free-trial > span {
        font-weight: 700;
    }
    
    .form-footer {
        margin-top: 12px;
        color: gray;
        font-weight: 400;
        margin-bottom: 24px;
        font-size: 9px;
    }
    
    .form-footer > span {
        color: hsl(0, 100%, 74%);
    }
    
    .form-footer > span:hover {
        cursor: pointer;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    h1 {
        font-weight: 900;
    }

    .invisible-error {
        display: none;
        margin: 0;
    }

    .error {
        position: absolute;
        right: 48px;

        color: hsl(0, 100%, 74%);
        font-size: 10px;
        font-weight: 600;
        font-style: italic;

        margin-top: 5px;
        margin-bottom: 20px;
    }

    .error-field {
        font-weight: 700;
        margin-top: 15px;
        padding-left: 20px;
        width: 85%;
        height: 40px;
        border-radius: 4px;
        border: 2px solid hsl(0, 100%, 74%);
    }

    .email-error-field {
        font-weight: 700;
        margin-top: 15px;
        padding-left: 20px;
        width: 85%;
        height: 40px;
        border-radius: 4px;
        border: 2px solid hsl(0, 100%, 74%);
        color: hsl(0, 100%, 74%);
    }

    .input-field {
        position: relative;
        display: flex;
        margin-left: 20px;
    }

    .error-icon {
        visibility: hidden;
    }

    .visible-error-icon {
        position: absolute;
        top: 27px;
        right: 46px;
        visibility: visible;
    }
    
}
